build/
bin/
env/
data/
client/client_data/*.tsv
*.o
*/.DS_Store
.DS_Store
gwas_t.*
gwas_u.*
*.signed
*.pem
gwas_args.h
gwasenc
gwashost
gwas_nonoe
*.out
*.log
test_logistic
*_debug
.vscode/
callgrind*
*-multiplied.tsv
.gdbinit
output*.txt
client_config-*.json
*-*.tsv
generated*.tsv
compute_server_config-*.json
sgx_linux_x64_driver.bin
*.crc
*.mt

